@tailwind base;
@tailwind components;
@tailwind utilities;


#header div {
    @apply flex flex-row justify-between items-center;
}

nav div ul {
    @apply flex flex-row justify-between items-center gap-4; 
}

nav div ul li {
    @apply py-4; 
}

nav div ul li a, footer {
    @apply font-semibold
}

#progress-bar {
    @apply transition-all duration-300 ease-in-out;
}

#scroll-btn {
    transition : all .3s ease-in-out;
}




html {
    margin-top: 0 !important;
}
#wpadminbar {
    display: none !important;
    position: fixed;
    top: -32px; /* Cache et supprime l'espace occupé */
    width: 100%;
}

