@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    margin-top: 0 !important;
}
body {
    @apply min-w-80 antialiased;
}
.parent_ {
    @apply w-full h-full flex flex-col md:flex-row  justify-between items-center ;
}

#logo {
    @apply mt-2 text-lg tracking-widest uppercase font-bold;
}

nav div ul {
    @apply w-full flex justify-between gap-4 ; 
}

nav div ul li {
    @apply py-2 md:py-10 hover:underline underline-offset-4 transition-all duration-200 ease-in-out ; 
}

nav div ul li a, footer {
    @apply font-semibold
}

#progress-bar {
    @apply transition-all duration-300 ease-in-out;
}


/* Style pour le footer */
/* style pour le footer */

.footer-gradient {
    @apply bg-gradient-to-r from-blue-500 to-teal-500;
}

.container {
    @apply max-w-6xl mx-auto p-10;
}

.footer-content {
    @apply flex flex-col items-center space-y-4;
}

.external-links {
    @apply flex space-x-4;
}

.link-item {
    @apply w-10 h-10;
}

.link-thumbnail {
    @apply w-10 h-10;
}

.thumbnail-image {
    @apply w-10 h-10 p-[0.1rem] border-black border-2 rounded-full hover:border-white transition-colors duration-200 ease-in;
}

.divider {
    @apply w-1/2 h-[0.05rem] bg-[#f4f4f4];
}

.scroll-btn-container {
    @apply fixed bottom-10 right-[10%] opacity-0;
}

.scroll-btn {
    @apply relative w-8 h-8 opacity-75 hover:opacity-100 transition-opacity duration-150 ease-in-out animate-pulse hover:animate-none active:animate-none z-30 overflow-hidden;
}

.scroll-btn-icon {
    @apply w-8 h-8 text-[#f4f4f4]  transition-all duration-200 ease-in-out z-20;
}

.scroll-btn-background {
    @apply absolute -top-2 -left-2 bg-gray-800 w-12 h-12 rounded-full -z-10;
}



#scroll-btn {
    transition : all .3s ease-in-out;
}

#wpadminbar {
    display: none !important;
    position: fixed;
    top: -32px; /* Cache et supprime l'espace occupé */
    width: 100%;
}




/* single-projects*/

.project-container{
    @apply max-w-6xl mx-auto my-10 px-10 flex flex-col justify-center items-center;
}

.project-container > h1 {
    @apply text-center text-xl font-semibold;
}

.project-thumbnail {
    @apply my-4;
}
.project-thumbnail > img {
    @apply rounded-lg ;
}

.project-content {
    @apply my-4 text-gray-800 hover:text-gray-900 active:text-gray-900 transition-colors duration-200 ease-in-out;
}

.project-content > figure {
    @apply w-full mt-4 flex flex-col-reverse gap-2 justify-center items-center flex-wrap;
}

.project-content > figure > figcaption{
    @apply  text-gray-600;
}

.project-meta {
    @apply text-gray-600;
}