/* 
#header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav div ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

nav div ul li {
    padding: 1rem 0;
} */